/* header,footer, #content{
    padding: 4px;
    margin: 2px;
    border: 5px solid #2196f3;
    background-color: #d3eafd;

}

#content div, #side-menu section{

    padding: 4px;
    margin: 2px;
    border: 2px solid red;

}

#side-menu section{
    border: 2px solid yellow;
}  */

html {
  height: 100%;
}
.profile {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #f6f5ff;
  font-family: "Roboto", sans-serif;
}

#content {
  flex: 1;
}

#content {
  display: flex;
  flex-direction:row;
}

#side-menu {
  flex: 1;
  
  border: 1px solid;
  border-radius: 10px;
 
  width: 50px;
  height: 70px;
  margin-right: 200px;
  background: rgba(244, 239, 239, 0.836);
  font-family: "Roboto", sans-serif;
  
  box-sizing: border-box;
}



#main {
  flex: 2;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
}

#header-info {
  flex: 1;
  
}

h1 {
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  
}

#footer {
  position:absolute;
  bottom:0;
  padding: 0;
  width: 100%;
  height: 2.0rem;
  background-color: #181818;
}

#footer p{
  margin-top: -2px;
   }

   #footer a:hover{
    transition:0.5s;
    color: #fff;
    
   }

   
  


body {
  font-family: "Roboto", sans-serif;
}

p {
  color: rgb(1, 0, 1);
  font-family: "Roboto", sans-serif:
}

#motto {
  text-align: left;
  color: rgb(149, 142, 156);
}

#motto span {
  font-weight: bold;
}

.favorite {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#top-menu-bar {
  text-align: center;
  background-color: #181818;
  color: #fff;
  font-family: 'Roboto', sans-serif;

}

#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
}

#top-menu-bar a:visited {
  color: #fff;
}

#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
  transition: 0.5;
}

#top-menu-bar a.active{
  
  background: #ff0;
  color: #334455;
}


.page {
  
  display:none;
  background: rgba(244, 239, 239, 0.836);
  border-radius: 1rem;
  margin-bottom: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
  padding: 1.6;
  border: 3px solid rgb(16, 15, 15);
  width:600px;
  height: 150px;
}



#table,
th,
td {
  border: 2px solid black;
}
.page h2 {
  margin-top: 0;
  text-decoration: underline;
 
}

#submit {
  background-color: rgb(215, 135, 230);
  text-shadow: #6c6161;
  
}
#submit:hover{
  color: #fff;
  transition: 0.5s;
  cursor:auto;
}
